* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: snow;
}

header {
  text-align: center;
  background-color: rgb(37, 133, 37);
  color: aliceblue;
  padding: 10px;
}

.heading {
  margin-bottom: 5px;
  font-weight: 800;
  font-size: 52px;
  text-shadow: 2px 2px gray;
}

.secondary_heading {
  font-size: 24px;
  font-weight: 500;
}

nav {
  background-color: rgb(37, 35, 35);
  text-align: center;
  font-size: 24px;
  padding: 10px;
}

.quick_link {
  color: azure;
  text-decoration: none;
  font-weight: 600;
  margin-right: 80px;
  padding: 5px;
}

.quick_link:hover {
  border: 2px double azure;
}

.quick_link:last-child {
  margin: 0;
}

.mid_section {
  height: 300px;
  padding: 40px;
  text-align: left;
  background-image: url(images/background4.jpg);
  background-size: cover;
  color: gray;
}

#mid_h1 {
  font-size: 32px;
  font-weight: 600;
}

#mid_h2 {
  font-size: 58px;
  font-weight: 800;
}

#mid_h3 {
  margin-bottom: 60px;
  margin-top: 10px;
  font-size: 20px;
  font-weight: 600;
}

.sign_in {
  text-decoration: none;
  font-size: 20px;
  color: gray;
  border: 2px solid;
  padding: 10px 20px;
  font-weight: bolder;
  background-color: white;
}

.sign_in:hover {
  color: white;
  background-color: gray;
}

.feature_product {
  text-align: center;
  font-size: 32px;
  padding: 30px;
  text-decoration: underline;
}
.main_feature {
  text-align: center;
  margin-bottom: 50px;
}

.feature {
  border: 2px solid gray;
  display: inline-block;
  padding: 20px;
  border-radius: 10px;
  text-align: center;
  margin-right: 40px;
  box-shadow: 5px 5px 10px 2px gray;
}

.main_feature:last-child {
  margin-right: 0;
}

.img {
  width: 600px;
  height: 400px;
  border-radius: 10px;
}

.feature_name {
  font-size: 24px;
  font-weight: 900;
  margin-bottom: 8px;
}

.price {
  font-size: 18px;
  font-weight: 800;
  margin-bottom: 8px;
}

.btn {
  font-size: 18px;
  padding: 5px 10px;
  background-color: rgb(37, 133, 37);
  color: aliceblue;
  border: none;
  border-radius: 10px;
}

footer {
  background-color: bisque;
  padding: 10px;
  text-align: center;
  font-weight: bolder;
}
