* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

header {
  text-align: center;
  background-color: rgb(37, 133, 37);
  color: aliceblue;
  padding: 10px;
}

.heading {
  margin-bottom: 5px;
  font-weight: 800;
  font-size: 52px;
  text-shadow: 2px 2px gray;
}

.secondary_heading {
  font-size: 24px;
  font-weight: 500;
}

nav {
  background-color: rgb(37, 35, 35);
  text-align: center;
  font-size: 24px;
  padding: 10px;
}

.quick_link {
  color: azure;
  text-decoration: none;
  font-weight: 600;
  margin-right: 80px;
  padding: 5px;
}

.quick_link:hover {
  border: 2px double azure;
}

.quick_link:last-child {
  margin: 0;
}

.mid_section {
  height: 300px;
  padding: 50px;
  text-align: left;
  background-image: url(images/background4.jpg);
  background-size: cover;
  color: gray;
}

#mid_h1 {
  font-size: 24px;
  font-weight: 600;
}

#mid_h2 {
  font-size: 42px;
  font-weight: 800;
}

#mid_h3 {
  margin-bottom: 80px;
  margin-top: 10px;
  font-size: 18px;
  font-weight: 600;
}
